{% extends "::base.html.twig" %}

{% block title %}TvShowManagerBundle:TvShow:show{% endblock %}

{% block body %}
<h1>Welcome to the TvShow:show page</h1>
    <h1>{{ tvshow.name }}</h1>
    {% for episode in tvshow.episodes %}
        {{ episode.name }}
    {% endfor %}
{% endblock %}
