{% extends "::base.html.twig" %}

{% block title %}TvShowManagerBundle:TvShow:show{% endblock %}

{% block body %}
<h1>Welcome to the TvShow:show page</h1>
    <div>
        {% for tvshow.id in tvshow %}


    </div>

{% endblock %}