


{% block body %}
        <h1>Liste de toutes les séries</h1>
<ul id="liste_séries">
    {% for tvshow in tvshows %}
        <li>{{ tvshow.name }}</li>
        <li>{{ tvshow.type }}</li>
        <li>{{ tvshow.url }}</li>
        <li>{{ tvshow.year }}</li>
    {% endfor %}
</ul>
{% endblock %}
